/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  height: 100vh;
  min-width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", serif;
  font-size: 25px;
  background-color: #e6e6e6;
}

/* Header */
header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main */
main {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem auto;
  gap: 0.8rem;
  line-height: 10px;
}

/* Containers principais */
#container,
#select-box,
.div-input,
#container-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem auto;
  gap: 0.8rem;
}

/* Estilos do select */
#select-box label,
.div-input label {
  font-family: "Poppins", serif;
  font-weight: 500;
}

#select-box #select-options {
  border-radius: 10px;
  height: 30px;
  width: 200px;
  text-align: center;
}

/* Estilos dos inputs */
.div-input input {
  border-radius: 10px;
  text-align: center;
  height: 28px;
  width: 130px;
  border: 1px solid #000;
}

/* Botões */
button {
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  color: #fff;
  background-color: #797979;
  font-family: "Poppins", serif;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #929292;
  cursor: pointer;
}

/* Output do preço */
.output-preco {
  margin: 15px 0 8px;
}

.output-preco h2 {
  font-weight: 500;
  font-size: 28px;
}

/* Footer */
footer {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  font-size: 13px;
  font-weight: 300;
  word-wrap: break-word;
  text-align: center;
}
